.cart-item-container {
	display: flex;

	justify-content: space-evenly;
	align-items: center;
	p {
		margin-bottom: 0 !important;
	}
	.cart-item-name {
		width: 50%;
	}
	.cart-item-cost {
		width: 25%;
	}
	.cart-item-img {
		width: 2.5rem !important;
		height: 2.5rem !important;
		margin: 1rem;
	}
	.btn {
		font-size: 0.5rem;
		float: right;
	}

	.btn-container {
		width: 25%;
	}
}
