@import './styling/cart.scss';
@import './styling/checkout.scss';
@import './styling/home.scss';
@import './styling/nav.scss';
@import './styling/footer.scss';
body {
	min-height: 75rem;
	padding-top: 4.5rem;
}
html {
	scroll-behavior: smooth;
}
